<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title> Events APP </title>
</head>

<body>
    <h1> Event register </h1>
    <form method="post">
        Name:  <input type="text" value="" name=""/>
        Local: <input type="text" value="" local=""/>
        Date:  <input type="text" value="" date=""/>
        Hour:  <input type="text" value="" hour=""/>

        <button type="submit">Submit</button>

    </form>
</body>

</html>